:root {
    --color-purple: #734ed2;
    --color-dark-purple: #441fa0;
    --color-light-purple: #ae8fff;
    --color-light-green: #f7fcff;
    --color-dark-yellow: #f7c848;
    --color-light-gray: #f7f7f7;
    --color-gray: #919191;
    --color-dark-gray: #3d3d3d;
    --color-red: #f05f5f;
    --color-dark-red: #e05a5a;
    --color-white: #ffffff;
}
